<!DOCTYPE html>
<html>
<head>
	<title>Job List</title>
</head>
<body>
	<h1> Joblist</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>Job ID</td>
			<td>Company name</td>
			<td>Title</td>
			<td>Location</td>
			<td>Salary</td>
		</tr>
		
		<!-- <% for(var i=0; i < users.length; i++){ %>
			
			<tr>
				<td><%= users[i][0] %></td>
				<td><%= users[i][1] %></td>
				<td><%= users[i][2] %></td>
				<td><%= users[i][3] %></td>
			</tr>

		<% } %> -->

		<% 
			users.forEach( function(std){ %>
			<tr>
				<td><%= std.jobId %></td>
				<td><%= std.companyName %></td>
				<td><%= std.title %></td>
				<td><%= std.location %></td>
				<td><%= std.salary %></td>
				<td>
					<a href="/user/edit/<%= std.jobId %>">Edit</a> |
					<a href="/user/delete/<%= std.jobId %>">Delete</a>
				</td>
			</tr>

		<%
			}); 
		%>
		
	</table>

</body>
</html>